@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

.head-img {
  background-image: url("../../public/banner.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .head-img {
    background-image: none;
  }
}
